<html>
	<head>
	<body>
	 <!-- CABECERA -->
		<div></div>
	 <!-- DETALLE -->

		<div>
			<table>
				<th>
					<td colspan=2> Embarcación-Planta: =BARCO</td>
					<td> IMO: = IMO</td>
					<td> MAN</td>
					<td> Moneda:</td>
				</th>
				<th>
					<td> Pos.</td>
					<td> Descripción</td>
					<td> Código</td>
					<td> Cantidad</td>
					<td> Unit</td>
					<td> Precio Unit</td>
				</th>
				<tr>
					<td></td>
					<td colspan=5>Product ID: =prodID Product Type: =prodType	</td>
				</tr>
				<tr>
					<td> 0010</td>
					<td> O-RING</td>
					<td> P11111111</td>
					<td> 12</td>
					<td> PC</td>
					<td> 4.90</td>
				</tr>	
			</table>	
				
		<div>
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td><img src="img/logoempresa.giv"></td>
							</tr>	
							<tr>
								<td>{{NOMBRE}}</td>
								<td>{{ARGO}}</td>
							</tr>
						</table>
					</td>
					<td>
						<table>
							<tr>
								<td><img src="img/logoempresa.giv"></td>
							</tr>	
							<tr>
								<td>{{NOMBRE}}</td>
								<td>{{ARGO}}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
