<div class="modal fade" id="popupEliminarConfirmacion" tabindex="-1" role="dialog" aria-labelledby="popupEliminarConfirmacion" aria-hidden="true">
         <div class="modal-dialog">
              <div class="modal-content popUpContent" ng-click="cerrarPupUp()" >
    				
        				<div class="modal-header popUpHeader" >
                    <h4 class="modal-title popUpTitle">Eliminar</h4>
                </div>
                <div class="modal-body">
                    <p>¿Esta seguro de eliminar la </p>
                    <p>{{eliminar_entidad}} <Strong>{{eliminar_numero}}</Strong>?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="k-button btn-cuidado" ng-click="aceptoEliminar()">Eliminar</button>
                  <button type="button" class="k-button btn-cancelar" data-dismiss="modal">Cancelar</button>
                  
                </div>
                                            
                
              </div>

              </div>
          </div>
</div>

